
.shape{
    height: 300px;
    width: 100px;
    display: inline-block;
}
.base{
    display: inline-block;
    width: 15%;
}
.container{
    display : flex; 
}
.greencircle {
    display: inline-block;
    border: 1px solid white;
    background-color: #003d1c;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.qucircle {
    display: inline-block;
    border : 1px solid white;
    background-color: #56c288;
    width: 70px;
    height: 70px;
    border-bottom-left-radius: 100%;
}
.square{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 1px solid white;
    background-color:#6875ec;
    border-radius: 10px;
}
.greycircle {
    display: inline-block;
    width: 70px;
    height:70px;
    border: 1px solid white;
    border-radius: 50%;
    background-color:#ccd1d7 ;
}
.youtube{
    display: inline-block;
    width: 200px;
    height: 100px;
    border: 1px solid white;
    border-radius:  25%;
    background-color: #ff0101 ; 
    box-sizing: border-box;
}

.button{
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid white;
    margin-left: 90px ;
    margin-top: 30px;
    position: absolute;
}
.yellowc{
    display: inline-block;
    width: 70px;
    height: 45px;
    border: 1px solid white;
    background-color:#f6b800 ;
    border-radius: 100px 100px 10px 10px;
    
}
.redc{
    display: inline-block;

    width: 45px;
    height: 70px;
    border: 1px solid white;
    background-color:#e64132 ;
    border-radius: 10px 100px 100px 10px;
}
.greenc{
    display: inline-block;

    width: 45px;
    height: 70px;
    border: 1px solid white;
    background-color: #31a452;
    border-radius: 100px 10px 0px 100px;
    margin-bottom: -25px;
    margin-left: 25px;
}
.bluec{
    display: inline-block;
    width: 70px;
    height: 45px;
    border: 1px solid white;
    background-color: #4081ef;
    border-radius: 10px 10px 100px 100px;
}


